# Mercado Pago Integration Credentials
# Put your Mercado Pago Access Token here (starts with APP_USR-... or TEST-...)
MERCADO_PAGO_ACCESS_TOKEN=APP_USR-7347922819217970-010521-4f7235fc4e8db7b024a5da19c892f407-180258706

# Put your Mercado Pago Public Key here (starts with APP_USR-... or TEST-...)
VITE_MERCADO_PAGO_PUBLIC_KEY=
